body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100vh;
}
h1{
    margin: 0;
    padding: 0;
    color:#333;
    font-size: 8em;

}

h1 span{
    display: table-cell;
    animation: animate 16s linear infinite;
}
.gap{
 margin-left: 4px;
}
@keyframes animate{
    0%{
        color: red;
    }
    25%{
        color: blue;
    }
    50%{
        color: orange;
    }
    75%{
        color: rgb(70, 61, 61);
    }
    100%{
        color: purple;
    }
}